<%- include('common/header'); %>
<%- include('common/navagation'); %>

<div class="top"></div>

<div class="container-fluid">
    <div class="row">
    
        <div class="col-1"></div>
    
        <div class="col-2">
            <a href="/sellEvent">
                <img src="/img/label.png" alt="label" class ='img-fluid'>
            </a>
        </div>
    
        <div class="col-8">
            <img src="/img/website-aboutUs.jpg" alt="label" class = 'img-fluid'>
        </div>
    
    </div>

    <div class="row mt-5">

        <div class="col-6"></div>
        
        <div class="col-5 font-title">
            公司簡介
        </div>
        
    </div>

    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
             <hr class = 'hrLine'>
        </div>
        
       
    </div>
    
    <div class="row">
        
        <div class="col-3"></div>

        <div class="col-8">
            <p class = 'category-font'>
                我們專注為各行各業提供生意買賣頂手的轉讓服務。我們明白市場上買賣雙方資訊透明度不足，阻礙成交的速度。所以，我們夥拍專業的IT團隊，通過分析客流數據、行業競爭、市場定位等，為買賣雙方提供第三方中立數據作支持，提高買家信心，以降低雙方成交成本。 我們的團隊以客戶既利益出發，提供準確及專業既服務。成交後，我們完善的售後服務，會跟進每個流程，以確保買賣雙方的利益，加速交易時間，順利交接。 
            </p>
        </div>
        
    </div>


    <div class="row mt-5">

        <div class="col-6"></div>
            
        <div class="col-5 font-title">
            願景及理念
        </div>
        
            
    </div>

    <div class="row">
        <div class="col-5"></div>
        <div class="col-3">
            <hr class = 'hrLine'>
        </div>
        
    </div>

    <div class="row mb-5">
        
            <div class="col-3"></div>
    
            <div class="col-8">
                <p class = 'category-font'>
                    通過專業知識、待客以誠以及客觀數據，提供卓越的生意買賣服務。
                </p>
            </div>
            
        </div>
    
</div>



<%- include('common/footer'); %> 