<%- include('common/header'); %>
<%- include('common/navagation'); %>

<div class="top"></div>

<div class="container-fluid">
    <div class="row">
    
        <div class="col-1"></div>
    
        <div class="col-2">
            <a href="/sellEvent">
                <img src="/img/label.png" alt="label" class ='img-fluid'>
            </a>
        </div>
    
        <div class="col-8">
            <img src="/img/website-guide.jpg" alt="label" class = 'img-fluid'>
        </div>
    
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col">
            <img src="/img/website-guideContent.jpg" alt="label" class = 'img-fluid'>
        </div>
        <div class="col-2"></div>

    </div>
</div>


<%- include('common/footer'); %>