<div class="container-fluid main">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-9 mt-5">
            <span class = 'font-title'>生意頂手行業分類</span>
        </div>

    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-2">
            <a href="/page/1" alt ='product'>
                <img src="/img/website-03.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>全部生意</span>
            </a>
        </div>
        <div class="col-2">
            <a href="/Category/教育" alt ='product'>
                <img src="/img/website-08.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>教育</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/Category/餐飲" alt ='product'>
                <img src="/img/website-01.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>餐飲</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/Category/PartyRoom" alt ='product'>
                <img src="/img/website-02.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>PartyRoom</span>
            </a>
        </div>   
    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-2">
            <a href="/page/1" alt ='product'>
                <img src="/img/website-04.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>精選生意</span>
            </a>
        </div>
        <div class="col-2">
            <a href="/Category/美容" alt ='product'>
                <img src="/img/website-07.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>美容</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/Category/零售" alt ='product'>
                <img src="/img/website-10.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>零售</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/Category/服務" alt ='product'>
                <img src="/img/website-11.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>服務</span>
            </a>
        </div>   
    </div>

    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-2">
            <a href="/sellEvent" alt ='product'>
                <img src="/img/website-05.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>出讓生意登記</span>
            </a>
        </div>
        <div class="col-2">
            <a href="/Category/時裝" alt ='product'>
                <img src="/img/website-06.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>時裝</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/Category/洗衣" alt ='product'>
                <img src="/img/website-09.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>洗衣</span>
            </a>
        </div>   
        <div class="col-2">
            <a href="/page/1" alt ='product'>
                <img src="/img/website-12.png" alt="product" class = 'img-fluid category-pic'>
                <span class ='category-font'>其他</span>
            </a>
        </div>   
    </div>
</div>