<!-- footer navbar setting  -->

<footer>
  <nav id = 'footer-nav' class = 'navbar navbar-expand-lg navbar-light w-100'>

    <div class = 'container-fluid'>
      <div class = 'row'>
        
      <div class="col-2"></div>
      
      <div class="col-3">
      <ul class = 'nav flex-column'>
        <li class = 'nav-item product-font mt-3'>
          關於W Square
        </li>
        <li class = 'nav-item footer-font'>
            我們專注為各行各業提供生意買賣頂手的轉讓服務。我們明白市場上買賣雙方資訊透明度不足，阻礙成交的速度。所以，我們夥拍專業的IT團隊，通過分析客流數據、行業競爭、市場定位等，為買賣雙方提供第三方中立數據作支持，提高買家信心，以降低雙方成交成本。 我們的團隊以客戶既利益出發，提供準確及專業既服務。成交後，我們完善的售後服務，會跟進每個流程，以確保買賣雙方的利益，加速交易時間，順利交接。 
        </li>
        <li class = 'nav-item copyright mt-5'>
          ©2019 by W<sup>2</sup> All Rights Reserved.
        </li>
      </ul>
      </div>

      <div class="col-1"></div>
      <div class="col-2">
      <ul class = 'nav flex-column'>
        <li class = 'nav-item footer-font mt-5'>
          聯絡電話：9136-8476
        </li>
        <li class = 'nav-item footer-font'>
          電郵地址：info@wsquarebc.com
        </li>
        <li class = 'nav-item footer-font'>
          地址：觀塘興業街29號萬有引力3樓302號室
        </li>
        <li class = 'nav-item mt-1'>
          <a href="https://wa.me/85291368476" class ='footer-icon' target = 'blank'>
            <i class = 'fa fa-whatsapp fa-2x'></i>
          </a>
          <a href="https://www.facebook.com/W-Square-%E7%94%9F%E6%84%8F%E8%B2%B7%E8%B3%A3-106031924097105/?modal=admin_todo_tour" class ='footer-icon' target = 'blank'>
            <i class = 'fa fa-facebook-square fa-2x ml-2 footer-icon'></i>
          </a>
          <i class = 'fa fa-instagram fa-2x ml-2 pl-1 footer-icon'></i>
        </li>
      </ul>
      </div>

      <div class="col-2">
        <ul class="nav flex-column">
          <a href="/sellEvent">
            <li class="nav-item footer-font mt-3 ml-5">
              出售生意
            </li>
          </a>
          <a href="/product">
            <li class="nav-item footer-font ml-5 mt-1">
              購入生意
            </li>
          </a>
          <a href="#">
            <li class="nav-item footer-font ml-5 mt-1">
              特許經營
            </li>
          </a>
          <a href="/aboutUs">
            <li class="nav-item footer-font ml-5 mt-1">
              關於我們
            </li>
          </a>
          <a href="/contactUs">
            <li class="nav-item footer-font ml-5 mt-1">
              聯絡我們
            </li>
          </a>
          <a href="#">
            <li class="nav-item footer-font ml-5 mt-1">
              課程/講座/資訊
            </li>
          </a>

        </ul>
      </div>
    </div>
    </div>

  </nav>


</footer>


</body>
</html>