<!-- navbar setting -->
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light " id ="top-nav">
        <div class="container-fluid">
            <button class="navbar-toggler " type = "button" data-toggle ="collapse" data-target = "#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id= "collapsibleNavbar">

                <ul class="navbar-nav left-menu">

                    <li class="nav-item">
                        <a href="/sellEvent" class="nav-link">出售登記</a>
                    </li>
             
                    <li class="nav-item">
                        <a href="/buyEvent" class="nav-link">收購登記</a>
                    </li>

                </ul>
            
                <ul class ="navbar-nav right-menu" id= "collapsibleNavbar">
                
                    <li class="nav-item noShow">
                        <a href="#" class="nav-link">
                            特許經營
                        </a>
                    </li>

                    
                    <li class="nav-item noShow">
                        <a href="/aboutUs" class="nav-link">
                            關於我們
                        </a>
                    </li>

                    <li class="nav-item noShow">
                        <a href="/contactUs" class="nav-link">
                            聯絡我們
                        </a>
                    </li>

                    <li class ="nav-item noShow">
                        <a href="#" class ="nav-link">
                            課程/講桌/資訊
                        </a>
                    </li>
    
                    <li class= 'nav-item'>
                        <a href= "https://wa.me/85291368476" class ="nav-link" target = 'blank'>
                            <i class ='fa fa-whatsapp mr-1'></i>
                            <span>9136-8476</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://wa.me/85291368476" class ="nav-link" target = 'blank'>
                            <i class = 'fa fa-volume-control-phone mr-1'></i>
                            <span>9136-8476</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://www.facebook.com/W-Square-%E7%94%9F%E6%84%8F%E8%B2%B7%E8%B3%A3-106031924097105/?modal=admin_todo_tour" class="nav-link" target = 'blank'>
                            <i class = 'fa fa-facebook-square mr-1'></i>
                            <span>W Square</span>
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light" id = 'bottom-nav'>
        <div class="container-fluid">

            <a href="/" class="navbar-brand bottom-left-menu" >
                <img src="/img/logo.png" alt="logo" width="45" height="45">
            </a>

            <div class="collapse navbar-collapse" id= "collapsibleNavbar">

                <ul class="navbar-nav bottom-right-menu">

                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role = 'button' aria-haspopup="true" aria-expanded="false">出售生意</a>
                        <div class="dropdown-menu">
                            <a href="/sellEvent" class="dropdown-item">出售登記</a>
                            <div class="dropdown-divider"></div>
                            <a href="/guide" class = 'dropdown-item'>放盤指南</a>
                        </div>
                    </li>

                    <li class="nav-item mr-3">
                        <a href="/page/1" class="nav-link">購入生意</a>
                    </li>

                    <li class="nav-item mr-3">
                            <a href="#" class="nav-link">特許經營</a>
                    </li>

                    <li class="nav-item mr-3">
                        <a href="/aboutUs" class="nav-link">關於我們</a>
                    </li>

                    <li class="nav-item mr-3">
                        <a href="/contactUs" class="nav-link">聯絡我們</a>
                    </li>

                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role = 'button' aria-haspopup="true" aria-expanded="false">課程/講座/資訊</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">課程</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class = 'dropdown-item'>講座</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class = 'dropdown-item'>資訊</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>




<!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 --><!-- 我是分割線 -->


<!-- 浮動聯絡方式 -->

<div class = 'contact'>

        <a href = 'https://wa.me/85291368476' target="blank">
            <img src = '/img/whatsapp.png' style = 'width: 50px; height:50px;'>
        </a>
        
        <a data-toggle="collapse" href = '#fbContent' role = 'button' aria-expanded = 'false' aria-controls="fbContent">
            <img src = '/img/facebook.png' style = 'width: 50px; height: 50px;'>
        </a>
    
    </div>
    
        
    

    <div class="collapse multi-collapse" id="fbContent">
        <div class="card card-body">
                <div id = 'fbContent' class="fb-page" data-href="https://www.facebook.com/W-Square-&#x751f;&#x610f;&#x8cb7;&#x8ce3;-106031924097105/?modal=admin_todo_tour" data-tabs="timeline" data-width="350" data-height="300" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/W-Square-&#x751f;&#x610f;&#x8cb7;&#x8ce3;-106031924097105/?modal=admin_todo_tour" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/W-Square-&#x751f;&#x610f;&#x8cb7;&#x8ce3;-106031924097105/?modal=admin_todo_tour">W Square 生意買賣</a></blockquote></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_HK/sdk.js#xfbml=1&version=v3.3"></script>
        </div>
    </div>

    <style>
    
    .contact{
        position: fixed;
        top: 90%;
        left: 90%;
        z-index: 1000;
    
    }
    
    .contact img{
        border-radius: 50%;
        opacity: 0.5;
    }
    
    .contact :hover{
        cursor: pointer;
        text-decoration: none;
        opacity: 1;
    }

    #fbContent{
        position: fixed;
        top: 58%;
        left: 75%;
        z-index: 1000;
    }
    
    </style>


